version: '3.8'
services:
  operator:
    working_dir: /app/autonomy/server
    build: .
    command: ["npm","run","start"]
    environment:
      - NODE_ENV=production
      - HOST=0.0.0.0
      - PORT=3000
    ports:
      - "3000:3000"
    volumes:
      - .:/app
